<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Chuck Norris Spring test</title>
</head>
<body>
<div class="container-fluid bg-dark text-white d-flex justify-content-center">
    <h2>MP03-UF6 Spring Session</h2>
</div>
<div class="container-fluid border pt-2 d-flex justify-content-center">
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="https://source.unsplash.com/random">
        <div class="card-body">
            <h5 class="card-title">Quote of the day</h5>
            <p class="card-text" th:text="${frase}"></p>
            <a href="#" class="btn btn-primary" onclick="window.location.reload();">Refresh</a>
        </div>
    </div>
</div>
</body>
</html>